<div>
<h1>Find, install, and publish RubyGems.</h1>
</div>

<div class="row">
    <div class="col-md-8">
    <h4>RubyGems.org is the Ruby community’s gem hosting service. 
        Instantly publish your gems and find out more about available gems. 
        Become a contributor and improve the site yourself.</h4>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-danger" href="/categories" role="button">Browse by category</a>
    </div>
</div>